body {
  font-family: helvetica;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

h3 a:link {
  color: #ff4f01;
}

h3 a:hover {
  color: #963901;
}

h3 a:visited {
  color: #963901;
}

.list {
  border: 0;
  border-spacing: 0;
  margin: 42px auto 0;
  padding: 0 15px;
  width: 320px;
}

.icon-container {
  width: 57px;
}

.icon {
  height: 57px;
  width: 57px;
}

.description-container {
  padding: 5px;
  vertical-align: top;
}

.description {
  color: gray;
  font-size: 13px;
}

.copyright {
  color: lightgray;
  font-size: 13px;
  text-align: center;
}